.square {
  height: 100px;
  width: 100px;
}

.v {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.h {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

table {
  margin: 100px auto;

}
header {
  text-align: center;
  font-size: 30px;
}
